# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
app/._page.tsx
app/._globals.css
._.gitignore
._.env
._tailwind.config.js
Prisma/._migrations
Prisma/._schema.prisma
Prisma/migrations/._20230406202444_added_model_of_todo
Prisma/migrations/._migration_lock.toml
Prisma/migrations/20230406202444_added_model_of_todo/._migration.sql
._package.json
._package-lock.json
._.env.local
._next-env.d.ts
._pages
pages/api/._auth
pages/api/auth/._[...nextauth].ts
pages/api/auth/._[...nextauth].ts
pages/api/auth/._[...nextauth].ts
Prisma/migrations/._20230406213521_removed_todo_added_user
Prisma/migrations/20230406213521_removed_todo_added_user/._migration.sql
Prisma/migrations/20230407015414_added_stripecustomerid_to_the_user/._migration.sql
Prisma/migrations/._20230407015414_added_stripecustomerid_to_the_user
pages/api/auth/._[...nextauth].ts
.env
.env
